<footer>
  <div class="content">
    <p>
      Copyright &copy; {{ none | date('yyyy') }}
      <a href="https://front-end.social/about">Front-End.Social</a>
      |
      Art by
      <a href="https://front-end.social/@stephaniewalter">@stephaniewalter</a>
    </p>
    <p>
      This site is maintained by
      <a href="https://front-end.social/@mods">@mods</a>,
      generated using
      <a href="https://11ty.dev">Eleventy</a>,
      and hosted on
      <a href="https://github.com/mirisuzanne/front-end-social">GitHub</a>
    </p>
  </div>
</footer>
