a:any-link { 
  text-decoration: underline !important;
}

a:focus {
  outline: medium dotted !important;
}

.status__wrapper-direct {
  padding-inline-end: 1.5rem;
}

.status__wrapper-direct::after {
  content: "private";
  color: ghostwhite;
  background-color: rebeccapurple;
  display: inline-block;
  padding: 0rem 0.2rem;
  position: absolute;
  inset-inline-end: 0;
  inset-block-start: 0;
  writing-mode: vertical-rl;
  height: 100%;
  text-align: center;
}

.media-gallery__item-thumbnail img:not([alt]),
.audio-player__canvas:not([title]),
.video-player video:not([title]), 
.media-gallery__gifv video:not([title]) {
  border: medium dashed red;
  box-sizing: border-box;
}

.media-gallery__item-thumbnail:has(img:not([alt]))::after {
  content: 'No image description';
  background: maroon;
  color: mistyrose;
  display: inline-block;
  padding: 0.1rem 0.4rem;
  position: absolute;
  inset-block-start: 0;
  inset-inline-end: 0;
}
