/* A thin border for images showing alt text status */
.media-gallery__item img {
  border: thin solid red;
  box-sizing: border-box;
}

.media-gallery__item img[alt] {
  border-color: green;
}

/* Remove the border if we can do better with :has() */
.media-gallery__item:has(img) img {
  border: none;
}

/* Apply an alt-text badge using generated content */
.media-gallery__item:has(img)::after {
  background: maroon;
  border-radius: 3px;
  color: mistyrose;
  content: "no alt";
  display: inline-block;
  inset-block-end: 0.5em;
  inset-inline-start: 0.5em;
  padding: 0.25rem 0.5rem;
  position: absolute;
  pointer-events: none;
  z-index: 2;
}

.media-gallery__item:has(img[alt])::after {
  background: darkgreen;
  content: "alt";
}
