---
layout: quick-note.njk
title: The next step for member invitations
---
<p>Hey community!</p>

<p>We're so grateful for the enthusiasm we've received in these first days of
  front-end.social and we're enjoying getting to know new faces (as well as
  connect with some old ones).</p>

<p>
  As you probably know by now, for now we've disabled open applications to join
  and paused the ability to generate invites. We’re simply not set up to grow
  entirely unchecked. While we’re excited to be part of a larger extended
  ‘fediverse’ community, we need to keep this server at a size that we’re
  able to afford, maintain, and moderate. We think that number is somewhere
  under 500 members. It’s impossible to draw a line around a community, but we
  have to draw a line somewhere when it comes to membership of this server.
  That’s really hard to do, and we know many of you are eager to invite more
  friends and see this place grow — so we want to ask for your help with the next steps.
</p>

<p>
  It's clear from the list of pending applicants — and just general understanding of
  the state of things in our world — that leaving the process
  unchecked would result in a user base that's overwhelmingly white and male. This
  would result in an environment that could easily feel unwelcoming or even unsafe
  to potential new members that belong to historically under-represented groups.
</p>

<p>But that's not the kind of environment we want to foster.</p>

<p>We believe it's important, especially in the early stages of our community,
  to push against that trend. We want to work actively toward developing a
  community that's diverse and inviting to everyone who shares these values.
</p>

<h2>Help us do this</h2>

<p>
  We want to take steps now, before the community grows larger, to establish a
  healthy, diverse base of members that will set this pattern now and make it
  easier to maintain it into the future. If you have friends or co-workers that
  you think might want to join our community, <em>particularly those that are a different
  gender or ethnicity than your own</em>, send us a message via DM and we
  will see about getting some invites out.
</p>

<p>We are working now to augment the application process with a few more questions directing
  new users to think in this regard as well. This whole thing is going to be a work in progress
  as we go. Thanks again for bearing with us!
</p>

<p>- <a href="https://front-end.social/@mia">@mia</a>, <a href="https://front-end.social/@estelle">@estelle</a>, <a href="https://front-end.social/@keithjgrant">@keithjgrant</a></p>

